<form method="post" action="/stock/<%=@item.id%>">

  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%=@item.name%>"
  />

  <label for="man_id-field">Manufacturer:</label>
  <select name="man_id" id="man_id-field">
    <option
    value="1"
    <%="selected" if @item.man_id == "1"%>
    >Floppomatic</option>
    <option
    value="2"
    <%="selected" if @item.man_id == "2"%>
    >Doot-Tek</option>
  </select>

  <label for="info-field">Description:</label>
  <input
  type="text"
  name="info"
  id="info-field"
  value="<%=@item.info%>"
  />

  <label for="stock-field">Stock level:</label>
  <input
  type="number"
  name="stock"
  id="stock-field"
  value="<%=@item.stock%>"
  />

  <label for="cost-field">Cost price: £</label>
  <input
  type="number"
  name="cost"
  id="cost-field"
  value="<%=@item.cost%>"
  />

  <label for="sale-field">Sale price: £</label>
  <input
  type="number"
  name="sale"
  id="sale-field"
  value="<%=@item.sale%>"
  />

  <input type='submit' value="Edit item?">
</form>
