<h1>Total Stock List</h1>

<table style="width:100%">
  <tr>
    <th>Item Name:</th>
    <th>Manufacturer:</th>
    <th>Stock Level:</th>
    <th>Sale Price:</th>
    <th>More details:</th>
  </tr>
<%for i in @item%>
  <tr>
  <td><%=i.name%></td>
  <td><%=i.manufacturer%></td>
  <td><%=i.stock%> - <%=i.warning%></td>
  <td>£<%=i.sale%></td>
  <td class="center"><a href="/stock/<%=i.id%>">More Details</a></td>
  </tr>
<%end%>
</table>
