<h1>Total Stock List</h1>

<%for i in @item%>
  <p>Item Name: <%=i.name%></p>
  <p>Manufacturer: <%=i.manufacturer%> </p>
  <p>Stock Level: <%=i.stock%> - <%=i.warning%></p>
  <p><a href="/stock/<%=i.id%>">More details</a></p>
  <hr />
<%end%>
