<h1>Item <%=@item.id %> Details:</h1>
<br>
<p>Name: <%=@item.name%></p>
<p>Manufacturer: <%=@item.manufacturer()%></p>
<p>Description: <%=@item.info%></p>
<p>Stock Level: <%=@item.stock%></p>
<p>Cost price: <%=@item.cost%></p>
<p>Sale price: <%=@item.sale%></p>
<p>Profit per item: <%=@item.profit()%></p>
<br>
<p><a href="/stock/<%=@item.id%>/edit">Edit item</a></p>
<br>
<form method="post" action="/stock/<%=@item.id%>/delete">
  <input type="submit" value="Delete item"/>
</form>
